body {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

#start {
    height: 100vh;
    width: 100%;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-image {
    background-color: rgba(0, 0, 0, 0.718);
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#socials object {
    width: 25px;
    height: 25px;
    pointer-events: none;
    margin-right: 15px;
    /* Set the desired spacing between objects */
}

.custom-button {
    display: inline-block;
    margin-top: 40px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-inline: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    border: 2px solid grey;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #cc005f;
    border: 2px solid #cc005f;
}

.typewriter h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #cc005f;
    }
}

h1 {
    color: #cc005f;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.custom-div {
    max-width: 60%;
    margin: 0 auto;
    /* Center the div horizontally */
    padding: 20px;
    /* Add some padding for spacing */
}


.row {
    display: flex;
    align-items: center;
}

h3 {
    margin: 0;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#my-skills button {
    margin: 10px;
}

#img-me {
    width: 150px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 10%;
    border: 2px solid #cc005f;
    transition: width 0.3s ease;
}

#img-me:hover {
    width: 190px;
}

.divider {
    width: 80%;
    height: 1px;
    /* Set the desired height for the divider */
    background-color: #ccc;
    /* Set the desired background color */
    margin: 20px auto;
    /* Adjust margin as needed */
}

.vertical-divider {
    height: 100px;
    width: 1px;
    background-color: #ccc;
}


.gm-btn {
    background: none;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 24px;
    width: 400;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    outline: none;
}

.gb-cutter::before {
    content: "";
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}

/* cutter */

.gb-cutter {
    border: 2px solid var(--gb-51);
    border-radius: 5px;
    box-shadow: 3px 3px 0 var(--gb-51);
    font-size: 1.125rem;
    font-weight: 700;
    overflow: hidden;
    color: var(--gb-51);
}

.gb-cutter::before {
    top: 100%;
    left: 0;
    width: 150%;
    aspect-ratio: 1;
    background: var(--gb-51);
    transform: translate(50%, 0%) rotateZ(-45deg);
}

.gb-cutter:hover::before {
    transform: translate(-20%, -60%) rotateZ(-45deg);
}

.gb-cutter:hover {
    box-shadow: 0 0 0;
    color: #eee;
}

:root {
    --gb-51: #111827;
}

.works {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.work-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.work-info h3 {
    font-size: 29px;
    font-weight: bold;
}

.work-ss {
    width: 200px;
    transition: width 0.3s ease;
    margin-bottom: 5px;
}

.work-ss:hover {
    width: 280px;
    transition: width 0.3s ease;
}

.work-logo {
    height: 100px;
    width: 100px;
    border-radius: 30%;
    margin-block: 20px;
}

.work-info-text {
    font-size: 20px;
    color: #4d4d4d;
    text-align: center;
}

#top {
    position: absolute;
    top: 20px;
}

#top a {
    font-size: 15px;
    text-decoration: none;
    color: #cc005f;
    cursor: pointer;
    margin-inline: 10px;
}

/* Media query for small screens */
@media (max-width: 600px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    #img-me {
        margin-right: 0px;
    }

    .works {
        flex-direction: column;
        align-items: center;
    }
}